<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.8.1/cdn.min.js" defer></script>
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <div class="flex flex-col items-center justify-center mt-32" x-cloak x-data="appData()" x-init="appInit()">
            <div class="flex flex-col">
                <div class="fixed inset-x-0 top-0 z-50 h-0.5 mt-0.5
            bg-yellow-500" :style="`width: ${percent}%`"></div>
            </div>
        </div>
{#        <a href="{{ path('app_home') }}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">#}
{#            <img class="h-16 w-52 rounded-xl" src="{{ asset('build/images/logo.svg') }}" alt="logo navbar">#}
{#        </a>#}
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a href="{{ path('app_home') }}" class="headerNav mr-5 cursor-pointer ">Accueil</a>
            <a class="headerNav mr-5 cursor-pointer">Actualités</a>
            <a href="#" class="headerNav mr-5 cursor-pointer">Nous contacter</a>
            <div class="relative inline-block text-left">
                <a class="headerNav mr-5 cursor-pointer dropdown-button">Jeux..</a>
                <div class="navBarButtonDropdown origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10 hidden dropdown-menu">
                    <div class="py-1">
                        <a href="{{ path('app_league_of_legends_home') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">League of Legends</a>
                        <a href="{{ path('app_poke_home') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Pokemon</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Diablo 4</a>
                    </div>
                </div>
            </div>
        </nav>
        {%- if is_granted('ROLE_USER') -%}
            <div class="relative inline-block text-left">
                <button class="firstButton inline-flex items-center border-0 py-2 px-5 focus:outline-none rounded text-base text-white mt-4 hover:bg-opacity-80">
                    {{ app.user.username }} <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 9.293a1 1 0 011.414 0L10 12.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <div class="navBarButtonDropdown origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10 hidden">
                    <div class="py-1">
                        <a href="{{ path('app_user_profile') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Mon Profil</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Amis</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Messages</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Réglages</a>
                        <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/>
                            </svg>
                            Se déconnecter
                        </a>
                    </div>
                </div>
            </div>
        {%- else -%}
            <a href="{{ path('app_login') }}" class="firstButton inline-flex items-center border-0 py-2 px-5 focus:outline-none rounded text-base text-white mt-4 hover:bg-opacity-80">
                Se connecter
            </a>
        {%- endif -%}
    </div>

    <script>
        const appData = () => {
            return {
                percent: 0,

                appInit() {
                    window.addEventListener('scroll', () => {
                        let winScroll = document.body.scrollTop || document.documentElement.scrollTop,
                            height = document.documentElement.scrollHeight - document.documentElement.clientHeight;

                        this.percent = Math.round((winScroll / height) * 100);
                    });
                },
            };
        };
    </script>
</header>