{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('poke') }}
{% endblock %}

{% block body %}
    <div class="text-center mt-5 mb-5">
        <input type="text" id="searchBar" placeholder="Recherchez un pokemon..." class="searchBar p-3 w-3/4 lg:w-1/2 xl:w-1/3 rounded border mx-auto shadow-lg focus:ring-2 focus:ring-blue-500 focus:outline-none">
    </div>

    <div class="flex flex-col items-center justify-center min-h-screen">
        <div class="flex m-11 gap-10 flex-wrap w-full max-w-6xl">
            {% for pokemon in pokemons %}
                <div onclick="openModal('modal{{ pokemon.id }}')" class="pokemonCard group flex w-64 h-80 cursor-pointer flex-col items-center justify-between gap-2 overflow-hidden rounded-lg shadow-2xl transition-all duration-300 hover:shadow-xl p-4">
                    <img src="{{ pokemon.image }}" alt="{{ pokemon.name }} Image" class="w-32 h-32 borderCard transition-all duration-300 group-hover:opacity-90" />
                    <h2 class="text-2xl font-semibold text-center">{{ pokemon.name }}</h2>
                    <div class="flex flex-wrap justify-center">
                        {% for type in pokemon.apiTypes %}
                            <span class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ type.name }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div id="modal{{ pokemon.id }}" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50 hidden">
                    <div class="modalStyle max-w-lg mx-auto my-10 bg-white rounded-lg shadow-md p-5">
                        <img class="w-32 h-32 rounded-full mx-auto" src="{{ pokemon.sprite }}" alt="Pokemon picture">
                        <h2 class="text-center text-2xl font-semibold mt-3">{{ pokemon.name }}</h2>
                        <div class="flex justify-center mt-5">
                            <a href="#" onclick="showTypes('{{ pokemon.id }}')" class="firstColor mx-3">Types</a>
                            <a href="#" onclick="showStats('{{ pokemon.id }}')" class="firstColor mx-3">Stats</a>
                        </div>
                        <div id="typesmodal{{ pokemon.id }}" class="mt-5">
                            <h3 class="text-xl font-semibold">Types</h3>
                            <div class="flex flex-wrap justify-center mt-2">
                                {% for type in pokemon.apiTypes %}
                                    <span class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ type.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="statsmodal{{ pokemon.id }}" class="mt-5 hidden">
                            <h3 class="text-xl font-semibold mb-4">Stats</h3>
                            <div class="grid grid-cols-3 gap-4">
                                {% for stats, statValue in pokemon.stats %}
                                    <div class="bg-gray-100 p-3 rounded-lg transition-transform transform hover:scale-105 overflow-hidden">
                                        <p class="font-bold text-xs text-gray-600 truncate">{{ stats|capitalize }}</p>
                                        <p class="text-md text-gray-800 truncate">{{ statValue }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button onclick="closeModal('modal{{ pokemon.id }}')" class="firstButton mt-4 text-white p-2 rounded">Fermer</button>
                    </div>
                </div>
            {% endfor %}
            <button id="scrollTopBtn" class="firstButton fixed bottom-5 right-5 w-14 h-14 p-3 rounded-full text-white text-xl opacity-0 transition-opacity duration-300 hidden flex items-center justify-center" onclick="scrollToTop()">↑</button>
        </div>
    </div>

    <script>
        function openModal(modalId) {
            document.getElementById(modalId).classList.remove('hidden');
        }

        function closeModal(modalId) {
            document.getElementById(modalId).classList.add('hidden');
        }

        function showStats(championId) {
            hideAllSections(championId);
            document.getElementById('statsmodal' + championId).classList.remove('hidden');
        }

        function showInfo(championId) {
            hideAllSections(championId);
            document.getElementById('infomodal' + championId).classList.remove('hidden');
        }

        function showBlurb(championId) {
            hideAllSections(championId);
            document.getElementById('blurbmodal' + championId).classList.remove('hidden');
        }

        function hideAllSections(championId) {
            document.getElementById('blurbmodal' + championId).classList.add('hidden');
            document.getElementById('statsmodal' + championId).classList.add('hidden');
            document.getElementById('infomodal' + championId).classList.add('hidden');
        }

        function scrollToTop() {
            window.scrollTo({top: 0, behavior: 'smooth'});
        }

        window.addEventListener('scroll', function() {
            let button = document.getElementById('scrollTopBtn');

            if (window.pageYOffset > 300) {
                button.style.opacity = "1";
                button.classList.remove('hidden');
            } else {
                button.style.opacity = "0";
                setTimeout(() => { button.classList.add('hidden'); }, 300);
            }
        });

        document.addEventListener('click', function(event) {
            let modals = document.querySelectorAll('[id^="modal"]');
            modals.forEach(function(modal) {
                if (event.target == modal) {
                    closeModal(modal.id);
                }
            });
        });

        document.getElementById('searchBar').addEventListener('keyup', function() {
            let filter = this.value.toUpperCase();
            let pokemons = document.querySelectorAll('.pokemonCard');

            pokemons.forEach(function(pokemon) { // Change here
                let pokemonName = pokemon.querySelector('h2').textContent || "";
                if (pokemonName.toUpperCase().indexOf(filter) > -1) {
                    pokemon.style.display = "";
                } else {
                    pokemon.style.display = "none";
                }
            });
        });
    </script>
{% endblock %}
