{% extends 'base.html.twig' %}

{% block title %}DBGames | Messages{% endblock %}

{% block body %}
    <main class="flex w-full h-full shadow-xl rounded-3xl max-w-4/5 mx-auto">
        <section class="flex flex-col w-2/12 bg-white rounded-l-3xl">
            <div class="w-16 mx-auto mt-12 mb-20 p-4 bg-indigo-600 rounded-2xl text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                          d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
                </svg>
            </div>
            <nav class="relative flex flex-col py-4 items-center">
                <a href="#" class="w-16 p-4 bg-blue-100 text-blue-900 rounded-2xl mb-4" id="newMessageButton">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                              d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                    </svg>
                </a>

                <a href="#" class="relative w-16 p-4 bg-purple-100 text-purple-900 rounded-2xl mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                              d="M8 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-2m-4-1v8m0 0l3-3m-3 3L9 8m-5 5h2.586a1 1 0 01.707.293l2.414 2.414a1 1 0 00.707.293h3.172a1 1 0 00.707-.293l2.414-2.414a1 1 0 01.707-.293H20" />
                    </svg>
                    <span
                            class="absolute -top-2 -right-2 bg-red-600 h-6 w-6 p-2 flex justify-center items-center text-white rounded-full">3</span>
                </a>
                <a href="#" class="w-16 p-4 border text-gray-700 rounded-2xl mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                              d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
                    </svg>
                </a>
                <a href="#" class="w-16 p-4 border text-gray-700 rounded-2xl mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                              d="M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                </a>
            </nav>
        </section>
        <section class="w-3/12">
            <label class="px-3">
                <input class="rounded-lg p-4 bg-gray-100 transition duration-200 focus:outline-none focus:ring-2 w-full"
                       placeholder="Search..." />
            </label>
            <ul class="mt-6">
                {% for conversation in conversations %}
                    <li class="py-5 border-b px-3 transition hover:bg-indigo-100 conversation" data-id="{{ conversation.id }}">
                        <a href="#" class="flex justify-between items-center">
                            <h3 class="text-lg font-semibold">{{ conversation.user1.username }} - {{ conversation.user2.username }}</h3>
                            <p class="text-md text-gray-400">{{ conversation.createdAt|date('H:i') }} ago</p>
                        </a>
                        <div class="text-md italic text-gray-400">{{ conversation.messages[0].content }}</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="w-6/12 px-4 flex flex-col bg-white rounded-r-3xl">
            <div class="flex justify-between items-center h-48 border-b-2 mb-8">
                <div class="flex space-x-4 items-center">
                    <div class="h-12 w-12 rounded-full overflow-hidden">
                        <img src="https://bit.ly/2KfKgdy" loading="lazy" class="h-full w-full object-cover" />
                    </div>
                    <div class="flex flex-col">
                        <h3 class="font-semibold text-lg message-username"></h3>
                        <p class="text-light text-gray-400 message-email"></p>
                    </div>
                </div>
                <div>
                    <ul class="flex text-gray-400 space-x-4">
                        <li class="w-6 h-6">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
            <section>
                <h1 class="font-bold text-2xl" id="message-title">Vous n'avez aucun message d'ouvert</h1>
                <article class="mt-8 text-gray-500 leading-7 tracking-wider message-content"></article>
                <ul class="flex space-x-4 mt-12">
                    <li
                            class="w-10 h-10 border rounded-lg p-1 cursor-pointer transition duration-200 text-indigo-600 hover:bg-blue-100">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                  d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
                        </svg>
                    </li>
                    <li
                            class="w-10 h-10 border rounded-lg p-1 cursor-pointer transition duration-200 text-blue-800 hover:bg-blue-100">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                  d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z" />
                        </svg>
                    </li>
                    <li
                            class="w-10 h-10 border rounded-lg p-1 cursor-pointer transition duration-200 text-pink-400 hover:bg-blue-100">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                  d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z" />
                        </svg>
                    </li>
                    <li
                            class="w-10 h-10 border rounded-lg p-1 cursor-pointer transition duration-200 text-yellow-500 hover:bg-blue-100">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                  d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </li>
                </ul>
            </section>
            <section class="mt-6 border rounded-xl bg-gray-50 mb-3">
                {{ form_start(replyForm, {'action': path('app_message'), 'method': 'post'}) }}
                <input type="hidden" name="parent_id" id="parent_id" value="" />
                <input type="hidden" name="reply_recipient_id" id="reply_recipient_id" value="" />
                {{ form_widget(replyForm.content, {'attr': {'class': 'w-full bg-gray-50 p-2 rounded-xl', 'placeholder': 'Type your reply here...', 'rows': '3'}}) }}
                <div class="flex items-center justify-between p-2">
                    <button class="h-6 w-6 text-gray-400">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
                        </svg>
                    </button>
                    <button class="bg-purple-600 text-white px-6 py-2 rounded-xl" type="submit">Reply</button>
                </div>
                {{ form_end(replyForm) }}
            </section>
        </section>
    </main>

    <div class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 hidden" id="newMessageModal">
        <div class="w-1/2 mx-auto mt-20 bg-white p-8 rounded-lg">
            <h2 class="text-2xl mb-4">Nouveau message</h2>
            {{ form_start(form, {'action': path('app_message'), 'method': 'post'}) }}
            <label for="recipient" class="block text-sm font-medium text-gray-700">Destinataire:</label>
            <select name="recipient" id="recipient" class="w-full p-2 mb-4" required>
                <option value="" disabled selected>Choisissez un destinataire</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            {{ form_row(form.title, {'label': 'Titre:', 'attr': {'class': 'w-full p-2 mb-4', 'placeholder': 'Votre titre', 'required': true}}) }}
            {{ form_row(form.content, {'label': 'Message:', 'attr': {'class': 'w-full p-2 mb-4', 'rows': '5', 'placeholder': 'Votre message', 'required': true}}) }}
            <div class="flex justify-between items-center mb-2">
                <div>
                    <button class="p-2 rounded bg-blue-100 text-blue-900" title="Joindre un fichier">
                        <i class="fas fa-paperclip"></i>
                    </button>
                    <button class="p-2 rounded bg-yellow-100 text-yellow-900" title="Insérer un emoji">
                        <i class="fas fa-smile"></i>
                    </button>
                </div>
            </div>
            <button class="bg-blue-500 text-white p-2 rounded">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

